h2.title {
  margin: 40px 0;
}
.cart-img{
  width: 25%;
  height: 25%;
}
.cart-btn{
  border: 1px solid red;
  border-radius: 5px;
  background: red;
  width: 20%;
  height: 5%;
}
.cart-cor{
  color: darkgray;
}

.cart-name{
  color: rgb(20, 31, 245);
}